.container.chart-create-container {
  background: #fff;
  border-radius: 4px;
  margin-top: 4em;
  min-height: 30vw;
  padding: 2em;
}

.chart-create-initialize.card.chart-create-form {
  position: initial;
  margin: 2vh auto;
}

.chart-create-container ul {
  margin-left: 20px;
}

h5 button,
.wtree button {
  display: inline-block;
  margin: 0 4px;
}
h5 button:first-child,
.wtree button:first-child {
  margin-left: 1em;
}

.wtree,
.wtree ul {
  margin-left: 20px;
}

.wtree li {
  list-style-type: none;
  margin: 10px 0 10px 10px;
  position: relative;
}

.wtree li:before {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  content: "";
  height: 15px;
  left: -20px;
  position: absolute;
  top: -10px;
  width: 20px;
}

.wtree li:after {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  content: "";
  height: 100%;
  left: -20px;
  position: absolute;
  top: 5px;
  width: 20px;
}

.wtree li:last-child:after {
  display: none;
}

.wtree li span {
  border: 1px solid #ddd;
  color: #888;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.wtree li span.payload,
.wtree li span.payload:hover {
  background: transparent;
  border: 0 !important;
  color: #000;
  display: inline-block;
  padding-left: 12px;
}

.wtree li span:hover, .wtree li span:focus {
  background: #eee;
  border: 1px solid #aaa;
  color: #000;
}

.wtree li span:hover + ul li span, .wtree li span:focus + ul li span {
  background: #eee;
  border: 1px solid #aaa;
  color: #000;
}

.wtree li span:hover + ul li:after, .wtree li span:hover + ul li:before, .wtree li span:focus + ul li:after, .wtree li span:focus + ul li:before {
  border-color: #aaa;
}
