.container.chart-create-container {
  margin-top: 4em;
  border-radius: 4px;
  background: #fff;
  padding: 2em;
  min-height: 30vw;
}

.chart-create-form.card {
  background: #192f46;
  padding: 20px;
}

.chart-create-form.card input {
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  padding: 4px 12px;
  width: 100%;
}

.chart-create-form.card input::placeholder {
  color: #192f46;
}

.chart-create-form.card label {
  font-size: 1.2em;
  color: #fff;
}

/* https://codepen.io/willpower/pen/pJKdej */

.chart-create-form [type="checkbox"]+span:not(.lever) {
  padding-left: 25px;
  margin-bottom: 16px;
}

.chart-create-form [type="checkbox"] + span:not(.lever)::before {
  border: 2px solid transparent;
  background: #fff;
}

.chart-create-form [type="checkbox"]:checked + span:not(.lever)::before {
  border-right: 2px solid #ff4081 ;
  border-bottom: 2px solid #ff4081 ;
  background: transparent;
  position: absolute;
  top: -5px;
}

.chart-create-container ul {
  margin-left: 20px;
}

h5 button,
.wtree button {
  display: inline-block;
  margin-left: 1em;
}

.wtree li {
  list-style-type: none;
  margin: 10px 0 10px 10px;
  position: relative;
}

.wtree li:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -20px;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 20px;
  height: 15px;
}

.wtree li:after {
  position: absolute;
  content: "";
  top: 5px;
  left: -20px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  width: 20px;
  height: 100%;
}

.wtree li:last-child:after {
  display: none;
}

.wtree li span {
  display: block;
  border: 1px solid #ddd;
  padding: 10px;
  color: #888;
  text-decoration: none;
}

.wtree li span:hover, .wtree li span:focus {
  background: #eee;
  color: #000;
  border: 1px solid #aaa;
}

.wtree li span:hover + ul li span, .wtree li span:focus + ul li span {
  background: #eee;
  color: #000;
  border: 1px solid #aaa;
}

.wtree li span:hover + ul li:after, .wtree li span:hover + ul li:before, .wtree li span:focus + ul li:after, .wtree li span:focus + ul li:before {
  border-color: #aaa;
}
