.payload {
  overflow: hidden;
  line-height: 1em;
  white-space: pre-line;
  display: inline-block;
  padding: 0 0 0 12px;
  vertical-align: middle;
  opacity: 0.7;
}

.payload a {
  color: #00acc1;
}
